<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>Document</title>
</head>
<body>
     <h1>รายการ users</h1>
     
     <div class=""> <!-- productid ซ่อนไว้เผื่อได้ใช้ -->
          <% data.forEach(x =>{  %>
          
          <h2> <%= x.username %> </h2>
          <h2> <%= x.userpass %> </h2>
          
          <br>
          
        <% }); %>
        </div>
</body>
</html>